<div class="row my-3">
  <div class="col-5 col-md-3 col-lg-2">
    <button class="btn btn-info w-100" routerLink="{{isFavoritesMode ? '/' : '/favorites'}}">
      {{isFavoritesMode ? 'Hide' : 'Show'}} Favs ({{favoritesCount}})
    </button>
  </div>
  <div class="col-7 col-md-5 col-lg-3 mb-3 mb-md-0">
    <art-order-by-selector
      [formControl]="requestParams.get('orderBy')">
    </art-order-by-selector>
  </div>
  <div class="col-12 col-md-4 col-lg-7">
    <art-search-bar
      [ngModel]="requestParams.get('searchString').value"
      (ngModelChange)="onSearchStringChange($event)">
    </art-search-bar>
  </div>
</div>

<ng-container *ngIf="hasResults; else noResults">
  <art-object-tile-list
    [artObjects]="artObjectList.artObjects">
  </art-object-tile-list>

  <div class="row my-3">
    <ngb-pagination
      class="col-12 col-sm-8 d-flex justify-content-center"
      [collectionSize]="totalPages"
      [page]="requestParams.controls.currentPage.value"
      (pageChange)="onPageChange($event)"
      [maxSize]="5"
      [boundaryLinks]="true">
    </ngb-pagination>
    <art-page-size-selector
      class="col-12 col-sm-4 d-flex justify-content-center"
      [pageSizes]="[20, 50, 100]"
      [selectedPageSize]="requestParams.controls.pageSize.value"
      (pageSizeChange)="onPageSizeChange($event)">
    </art-page-size-selector>
  </div>
</ng-container>
  
<ng-template #noResults>
  <div class="alert alert-secondary text-center" role="alert">
    <b>
      {{isFavoritesMode ? 'No favorite items yet' : 'No art objects could be found by your query'}}
    </b>
  </div>
</ng-template>