<ng-container *ngIf="isLoading; else tiles">
  Loading...
</ng-container>

<ng-template #tiles>
  <ng-container *ngIf="hasResults; else noResults">
    <art-tiles-list [objects]="results.artObjects">

    </art-tiles-list>
    <ngb-pagination
      [collectionSize]="results.count"
      [page]="requestParams.controls.currentPage.value"
      (pageChange)="onPageChange($event)"
      [maxSize]="requestParams.controls.pageSize.value"
      [boundaryLinks]="true">
    </ngb-pagination>
  </ng-container>

  <ng-template #noResults>
    No results
  </ng-template>
</ng-template>