.card {
  cursor: pointer;

  &:hover {
    & > .img-overlay {
      display: block;
    }
  }

  & > .img-overlay {
    display: none;
  }
}

.card-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &.square {
    &:before {
      content: "";
      display: block;
      padding-top: 100%; /* initial ratio of 1:1*/
    }
  }
}

.img-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  max-height: 100%;
  overflow: hidden;

  .card-text {
    font-size: 0.75rem;
  }
}
