<img src="{{artObject?.webImage.url}}" class="img-fluid mt-3" alt="Art object image">
<h3 class="text-center my-3">
  {{artObject?.title}}
</h3>
<div class="row mb-4">
  <div class="col-12 col-sm-8">
    <p>
      {{artObject?.description}}
    </p>
  </div>
  <div class="col-12 col-sm-4">
    <div class="mb-3">
      <h6>
        Category
      </h6>
      <div>
        Unknown
      </div>
    </div>
    <div class="mb-3">
      <h6>
        Tags
      </h6>
      <div *ngIf="artObject?.tags && artObject?.tags.length > 0; else noTags">
        <span *ngFor="let tag of artObject?.tags; last as last"
          class="badge badge-secondary"
          [class.mr-1]="last">
          {{tag.name}}
        </span>
      </div>

      <ng-template #noTags>
        No tags
      </ng-template>
    </div>

    <div>
      <button
        *ngIf="!isFavorite(artObject); else removeFromFavs"
        class="btn btn-success"
        (click)="addToFavorites(artObject)">
        Add to favorites
      </button>
  
      <ng-template #removeFromFavs>
        <button
          class="btn btn-danger"
          (click)="removeFromFavorites(artObject)">
          Remove from favorites
        </button>
      </ng-template>
    </div>
  </div>
</div>
